.bg_home{
    #searchUserBar{
        input:focus{
            border-bottom: 1px solid #e7e7e7;
        }
    }

    #mainUsersResult{
        height: 70vh;

        .single-list-result{
                height: 100px;
        }

        

        

    }
}