.logo{

    height: 100px;
    width: 100px;
}
.arene{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    
}

.projet {
    border: 5px solid red;
    width: 50%;
}

.allBlock {
    display: flex;
    align-items: center;
    
}