* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.font-rubik {
    font-family: 'Rubik', cursive
}

hr {
    border: none;
    border-bottom: 1px solid #e7e7e7 !important;
    bottom: 0;
}
.h-90{
    height: 90% !important;
}
.h-85{
    height: 85% !important;
}
.h-80{
    height: 80% !important;
}
.h-70{
    height: 70% !important;
}
.h-65{
    height: 65% !important;
}
.h-60{
    height: 60% !important;
}
.h-30{
    height: 30% !important;
}
.h-25{
    height: 25% !important;
}
.h-20{
    height: 20% !important;
}
.h-15{
    height: 15% !important;
}
.h-10{
    height: 10% !important;
}

//  2 - Les Blocks

.block-dark {
    background-color: #0000008c;
    color: #e7e7e7;
}

.block-light {
    background-color: #0000003f;
    color: #e7e7e7;
}

.block-dark-hover {
    background-color: #0000008c;
    color: #e7e7e7;
}

.block-dark-hover:hover {
    background-color: #000000a6;
}

.block-light-hover {
    background-color: #00000062;
    color: #e7e7e7;
}

.block-light-hover:hover {
    background-color: #0000003f;
    cursor: default;
}

button {
    border: none;
}

body {
    color: #e7e7e7;
    background-color: #94b1d1;

}

#wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: max-content 1fr max-content;

    main {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 60px;
    }
}

.custom_scrollbar {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: #e7e7e7 #00000065;
    scrollbar-width: thin;
    margin-bottom: 0.2em;
}

.custom_scrollbar::-webkit-scrollbar {
    width: 0.5em;
    background-color: #00000065;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
    background-color: #e7e7e7;
}

input:active, input:focus{
    box-shadow: none !important;
}

@import "../app/pages/Home/home";
@import "../app/pages/Arene/arene";
@import "../app/base/Header/header";
@import "../app/base/Footer/footer";
@import "../app/pages/UserProfile/userprofile";
@import "../app/pages/Projects/Gerer/gestionprojet";
@import "../app/pages/Projects/projects";