* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.font-rubik {
    font-family: 'Rubik', cursive
}

hr {
    border: none;
    border-bottom: 1px solid #e7e7e7 !important;
    bottom: 0;
}

//  2 - Les Blocks

.block-dark {
    background-color: #0000008c;
    color: #e7e7e7;
}

.block-dark-hover {
    background-color: #0000008c;
    color: #e7e7e7;
}

.block-dark-hover:hover {
    background-color: #000000a6;
}

button {
    border: none;
}

body {
    color: #e7e7e7;
    background-color: #94b1d1;

}

#wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: max-content 1fr max-content;

    main {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 60px;
    }
}

.custom_scrollbar {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: #e7e7e7 #00000065;
    scrollbar-width: thin;
    margin-bottom: 0.2em;
}

.custom_scrollbar::-webkit-scrollbar {
    width: 0.5em;
    background-color: #00000065;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
    background-color: #e7e7e7;
}

@import "../app/pages/Home/home";
@import "../app/pages/Arene/arene";
@import "../app/base/Header/header";
@import "../app/base/Footer/footer";
@import "../app/pages/UserProfile/userprofile";
@import "../app/pages/Coders/maincoders";