.bg_arene {
    background-image: url("../img/arene-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .allBlock{
        max-height: 70vh;
    }

    .battle-list-block, .mainAreneButton{
        
        height: 57vh;

    }

    .single-list-result{
        height: 130px;
    }

    .single-list-result:nth-child(even) {
    
        background-color: #00000063;
    }
    
    .single-list-result:nth-child(even):hover {
        background-color: #0000007e;
    }
}